.ghi {
    text-align: center;
    padding-top: 10%;
  }

  .hare {
    position: relative;
    justify-content: left;
    display: flex;
    align-items: center;
    gap: 60px;
  }

  @media (max-width: 955px) {

    .hare {
      flex-direction: column;
    }

}